#footer {
    position: relative;
    background-size: 100vw 5rem !important;
    color: white;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    z-index: 10;
}

@media(max-width: 600px) {
    #footer {
        height: 5.2rem;
    }
}